## 2. Banco de Dados

### Descrição

- Criação de um banco de dados contendo as informações dos arquivos csv
- O banco de dados será criado com a engine SQLite

### __João Pessoa__

In [1]:
#Carregando bibliotecas

import pandas as pd
import sqlite3
from bdconfig import carrega_csv, cria_bd, cria_conexao

In [2]:
arquivo = '../dados/JoaoPessoa_clima.csv'

df = carrega_csv(arquivo)
df.head()

,TempBulboSeco,TempBulboUmido,UmidadeRelativa,PressaoAtmEstacao,DirecaoVento,VelocidadeVento,Nebulosidade
Horario,,,,,,,
2008-01-01 00:00:00,26.8,22.6,68.0,1012.1,14,3.3,3.0
2008-01-01 12:00:00,29.4,23.3,58.0,1012.7,14,3.5,4.0
2008-01-01 18:00:00,29.6,23.5,59.0,1011.2,14,3.3,3.0
2008-01-02 00:00:00,26.6,22.2,69.0,1012.8,14,2.6,4.0
2008-01-02 12:00:00,29.8,23.9,61.0,1013.3,14,3.3,3.0

In [3]:
bd_teste='../dados/teste.db'
cria_bd(bd_teste)

2.6.0

In [4]:
con = cria_conexao(bd_teste)
df.to_sql(name="JoaoPessoa", con=con)

In [5]:
query = "SELECT * from JoaoPessoa"

In [6]:
df_jp = pd.read_sql_query(query, con=con, parse_dates='Horario', index_col='Horario')
df_jp.head()

,TempBulboSeco,TempBulboUmido,UmidadeRelativa,PressaoAtmEstacao,DirecaoVento,VelocidadeVento,Nebulosidade
Horario,,,,,,,
2008-01-01 00:00:00,26.8,22.6,68.0,1012.1,14,3.3,3.0
2008-01-01 12:00:00,29.4,23.3,58.0,1012.7,14,3.5,4.0
2008-01-01 18:00:00,29.6,23.5,59.0,1011.2,14,3.3,3.0
2008-01-02 00:00:00,26.6,22.2,69.0,1012.8,14,2.6,4.0
2008-01-02 12:00:00,29.8,23.9,61.0,1013.3,14,3.3,3.0

In [7]:
df_jp.dtypes

TempBulboSeco        float64
TempBulboUmido       float64
UmidadeRelativa      float64
PressaoAtmEstacao    float64
DirecaoVento          object
VelocidadeVento      float64
Nebulosidade         float64
dtype: object

In [8]:
df_jp.index

DatetimeIndex(['2008-01-01 00:00:00', '2008-01-01 12:00:00',
               '2008-01-01 18:00:00', '2008-01-02 00:00:00',
               '2008-01-02 12:00:00', '2008-01-02 18:00:00',
               '2008-01-03 00:00:00', '2008-01-03 12:00:00',
               '2008-01-03 18:00:00', '2008-01-04 00:00:00',
               ...
               '2018-12-28 18:00:00', '2018-12-29 00:00:00',
               '2018-12-29 12:00:00', '2018-12-29 18:00:00',
               '2018-12-30 00:00:00', '2018-12-30 12:00:00',
               '2018-12-30 18:00:00', '2018-12-31 00:00:00',
               '2018-12-31 12:00:00', '2018-12-31 18:00:00'],
              dtype='datetime64[ns]', name='Horario', length=11938, freq=None)

In [9]:
con.close()

In [10]:
from os import remove
remove(bd_teste)

### __Criando Banco de da Dados__

In [11]:
import os


def bd_clima():
    path = "../dados/"

    if "clima.db" in os.listdir(path):
        print("Banco de dados já criado")
    else:
        
        cria_bd(path+"clima.db")
        con = cria_conexao(path+"clima.db")

        arquivos = [arq for arq in os.listdir(path) if '.csv' in arq]

        for tabela in arquivos:

            if '_clima.csv' in tabela:
                nome= tabela.rsplit("_clima.csv")
                df = carrega_csv(path+tabela)
                df.to_sql(nome[0], con)
            else:
                nome = tabela.rsplit(".csv")
                df = carrega_csv(path+tabela)
                df.to_sql(nome[0], con)

In [12]:
bd_clima()

2.6.0

### __Carregar Tabela__

In [14]:
bd = "../dados/clima.db"
con = cria_conexao(bd)

query = "SELECT * FROM JoaoPessoa"

df = pd.read_sql_query(sql = query, con = con)
df.head(10)

con.close()

,Horario,TempBulboSeco,TempBulboUmido,UmidadeRelativa,PressaoAtmEstacao,DirecaoVento,VelocidadeVento,Nebulosidade
0,2008-01-01 00:00:00,26.8,22.6,68.0,1012.1,14,3.3,3.0
1,2008-01-01 12:00:00,29.4,23.3,58.0,1012.7,14,3.5,4.0
2,2008-01-01 18:00:00,29.6,23.5,59.0,1011.2,14,3.3,3.0
3,2008-01-02 00:00:00,26.6,22.2,69.0,1012.8,14,2.6,4.0
4,2008-01-02 12:00:00,29.8,23.9,61.0,1013.3,14,3.3,3.0
5,2008-01-02 18:00:00,29.6,24.1,63.0,1010.8,14,4.6,3.0
6,2008-01-03 00:00:00,27.0,23.9,77.0,1013.8,14,3.3,5.0
7,2008-01-03 12:00:00,29.8,24.3,64.0,1014.5,14,6.0,4.0
8,2008-01-03 18:00:00,29.8,24.7,66.0,1012.4,18,5.6,4.0
9,2008-01-04 00:00:00,27.6,24.5,77.0,1014.8,14,4.0,6.0

In [15]:
df.dtypes

Horario               object
TempBulboSeco        float64
TempBulboUmido       float64
UmidadeRelativa      float64
PressaoAtmEstacao    float64
DirecaoVento          object
VelocidadeVento      float64
Nebulosidade         float64
dtype: object

In [17]:
con = cria_conexao(bd)

query = "SELECT * FROM JoaoPessoa"

df = pd.read_sql_query(sql = query, con = con, parse_dates='Horario', index_col='Horario')


con.close()
df.head(10)

,TempBulboSeco,TempBulboUmido,UmidadeRelativa,PressaoAtmEstacao,DirecaoVento,VelocidadeVento,Nebulosidade
Horario,,,,,,,
2008-01-01 00:00:00,26.8,22.6,68.0,1012.1,14,3.3,3.0
2008-01-01 12:00:00,29.4,23.3,58.0,1012.7,14,3.5,4.0
2008-01-01 18:00:00,29.6,23.5,59.0,1011.2,14,3.3,3.0
2008-01-02 00:00:00,26.6,22.2,69.0,1012.8,14,2.6,4.0
2008-01-02 12:00:00,29.8,23.9,61.0,1013.3,14,3.3,3.0
2008-01-02 18:00:00,29.6,24.1,63.0,1010.8,14,4.6,3.0
2008-01-03 00:00:00,27.0,23.9,77.0,1013.8,14,3.3,5.0
2008-01-03 12:00:00,29.8,24.3,64.0,1014.5,14,6.0,4.0
2008-01-03 18:00:00,29.8,24.7,66.0,1012.4,18,5.6,4.0
2008-01-04 00:00:00,27.6,24.5,77.0,1014.8,14,4.0,6.0

In [18]:
con = cria_conexao(bd)

query = "SELECT * FROM Areia"

df = pd.read_sql_query(sql = query, con = con, parse_dates='Horario', index_col='Horario')


con.close()
df.head(10)

,TempBulboSeco,TempBulboUmido,UmidadeRelativa,PressaoAtmEstacao,DirecaoVento,VelocidadeVento,Nebulosidade
Horario,,,,,,,
2008-01-01 00:00:00,21.4,19.4,82,947.2,14,3.3,0.0
2008-01-01 12:00:00,23.4,22.2,91,947.8,14,2.5,8.0
2008-01-01 18:00:00,28.4,22.8,63,945.4,14,4.1,5.0
2008-01-02 00:00:00,21.2,19.8,88,947.7,14,1.6,8.0
2008-01-02 12:00:00,24.2,21.2,76,948.4,14,1.6,7.0
2008-01-02 18:00:00,29.4,24.0,63,945.6,14,2.3,5.0
2008-01-03 00:00:00,21.2,20.0,90,948.7,14,2.8,7.0
2008-01-03 12:00:00,23.2,20.2,76,950.5,18,1.6,8.0
2008-01-03 18:00:00,27.8,22.4,63,946.6,14,4.6,7.0
2008-01-04 00:00:00,22.2,20.8,87,949.7,14,1.6,8.0

In [19]:
con = cria_conexao(bd)

query = "SELECT * FROM Info"

df = pd.read_sql_query(sql = query, con = con)

con.close()
df.head(10)

   index          Cidade  Latitude  Longitude  Altitude
0      0           Areia     -6.97     -35.68    574.62
1      1  Campina-Grande     -7.22     -35.88    547.56
2      2     Joao-Pessoa     -7.10     -34.86      7.43
3      3        Monteiro     -7.88     -37.06    603.66
4      4           Patos     -7.01     -37.26    249.09
5      5      SaoGoncalo     -6.75     -38.21    233.06

In [24]:
def carrega_tabela(nome, bd, clima=False):

    con = cria_conexao(bd)
    query = "SELECT * FROM {}".format(nome)
    if clima:
        df = pd.read_sql_query(query, con=con, parse_dates='Horario', index_col='Horario')
    else:
        df = pd.read_sql_query(query, con=con)
        df.drop(columns='index', inplace=True)
    
    con.close()
    return df

In [25]:
df_tabela = carrega_tabela("JoaoPessoa", bd, clima=True)
df_tabela.head()

,TempBulboSeco,TempBulboUmido,UmidadeRelativa,PressaoAtmEstacao,DirecaoVento,VelocidadeVento,Nebulosidade
Horario,,,,,,,
2008-01-01 00:00:00,26.8,22.6,68.0,1012.1,14,3.3,3.0
2008-01-01 12:00:00,29.4,23.3,58.0,1012.7,14,3.5,4.0
2008-01-01 18:00:00,29.6,23.5,59.0,1011.2,14,3.3,3.0
2008-01-02 00:00:00,26.6,22.2,69.0,1012.8,14,2.6,4.0
2008-01-02 12:00:00,29.8,23.9,61.0,1013.3,14,3.3,3.0

In [26]:
df = carrega_tabela("Info", bd, clima=False)
df.head()

           Cidade  Latitude  Longitude  Altitude
0           Areia     -6.97     -35.68    574.62
1  Campina-Grande     -7.22     -35.88    547.56
2     Joao-Pessoa     -7.10     -34.86      7.43
3        Monteiro     -7.88     -37.06    603.66
4           Patos     -7.01     -37.26    249.09