## 2. Banco de Dados

### Descrição

- Criação de um banco de dados contendo as informações dos arquivos csv
- O banco de dados será criado com a engine SQLite

### __João Pessoa__

In [1]:
#Carregando bibliotecas

import pandas as pd
import sqlite3
from bdconfig import carrega_csv, cria_bd, cria_conexao

In [2]:
arquivo = '../dados/JoaoPessoa_clima.csv'

df = carrega_csv(arquivo)
df.head()

,TempBulboSeco,TempBulboUmido,UmidadeRelativa,PressaoAtmEstacao,DirecaoVento,VelocidadeVento,Nebulosidade
Horario,,,,,,,
2008-01-01 00:00:00,26.8,22.6,68.0,1012.1,14,3.3,3.0
2008-01-01 12:00:00,29.4,23.3,58.0,1012.7,14,3.5,4.0
2008-01-01 18:00:00,29.6,23.5,59.0,1011.2,14,3.3,3.0
2008-02-01 00:00:00,26.6,22.2,69.0,1012.8,14,2.6,4.0
2008-02-01 12:00:00,29.8,23.9,61.0,1013.3,14,3.3,3.0

In [4]:
bd_teste='../dados/teste.db'
cria_bd(bd_teste)

2.6.0

In [6]:
con = cria_conexao(bd_teste)
df.to_sql(name="JoaoPessoa", con=con)

In [11]:
query = "SELECT * from JoaoPessoa"

In [16]:
df_jp = pd.read_sql_query(query, con=con, parse_dates='Horario', index_col='Horario')
df_jp.head()

,TempBulboSeco,TempBulboUmido,UmidadeRelativa,PressaoAtmEstacao,DirecaoVento,VelocidadeVento,Nebulosidade
Horario,,,,,,,
2008-01-01 00:00:00,26.8,22.6,68.0,1012.1,14,3.3,3.0
2008-01-01 12:00:00,29.4,23.3,58.0,1012.7,14,3.5,4.0
2008-01-01 18:00:00,29.6,23.5,59.0,1011.2,14,3.3,3.0
2008-02-01 00:00:00,26.6,22.2,69.0,1012.8,14,2.6,4.0
2008-02-01 12:00:00,29.8,23.9,61.0,1013.3,14,3.3,3.0

In [17]:
df_jp.dtypes

TempBulboSeco        float64
TempBulboUmido       float64
UmidadeRelativa      float64
PressaoAtmEstacao    float64
DirecaoVento          object
VelocidadeVento      float64
Nebulosidade         float64
dtype: object

In [18]:
df_jp.index

DatetimeIndex(['2008-01-01 00:00:00', '2008-01-01 12:00:00',
               '2008-01-01 18:00:00', '2008-02-01 00:00:00',
               '2008-02-01 12:00:00', '2008-02-01 18:00:00',
               '2008-03-01 00:00:00', '2008-03-01 12:00:00',
               '2008-03-01 18:00:00', '2008-04-01 00:00:00',
               ...
               '2018-12-28 18:00:00', '2018-12-29 00:00:00',
               '2018-12-29 12:00:00', '2018-12-29 18:00:00',
               '2018-12-30 00:00:00', '2018-12-30 12:00:00',
               '2018-12-30 18:00:00', '2018-12-31 00:00:00',
               '2018-12-31 12:00:00', '2018-12-31 18:00:00'],
              dtype='datetime64[ns]', name='Horario', length=11938, freq=None)

In [19]:
con.close()

In [20]:
from os import remove
remove(bd_teste)

### __Criando Banco de da Dados__

In [37]:
import os


def bd_clima():
    path = "../dados/"

    if "clima.db" in os.listdir(path):
        print("Banco de dados já criado")
    else:
        
        cria_bd(path+"clima.db")
        con = cria_conexao(path+"clima.db")

        arquivos = [arq for arq in os.listdir(path) if '.csv' in arq]

        for tabela in arquivos:

            if '_clima.csv' in tabela:
                nome= tabela.rsplit("_clima.csv")
                df = carrega_csv(path+tabela)
                df.to_sql(nome[0], con)
            else:
                nome = tabela.rsplit(".csv")
                df = carrega_csv(path+tabela)
                df.to_sql(nome[0], con)

In [38]:
bd_clima()

2.6.0

In [45]:
t = "JoaoPessoa_clima.csv"

In [47]:
t.rfind("_")

10

In [50]:
t.rsplit("_clima.csv")

['JoaoPessoa', '']